doctype html
html
    head
        link(rel="stylesheet", href="./style/style.css")
        link(rel="shortcut icon", href="./img/favicon.png", type="image/x-icon")
        title Home =)
    include header.pug    
    body
        h3 Aqui van los textos. La plantilla funcionaaaaa!!!!!!!
    div#color.patata
        p Soy el texto dentro del div con id color y la clase patata.
    div.patata
        p Soy el texto dentro del div con clase patata. Y tengo un gif dentro.
        img(src="./img/giphy.gif", alt="El gif de Thewitcher")    
    
    include footer.pug
    script(src="./scripts/script.js")      
    
